# colcon (ROS 2) workspace outputs
/build/
/install/
/log/

# rosbag2
/rosbag2_*/

# Python cache
**/__pycache__/
**/*.pyc

# IDE / Editor
.vscode/
.idea/
*.swp
*.tmp

# local artifacts
/bags/
.ros/
*.db3